body{
  background-color: rgb(235, 227, 227);
  overflow: hidden;
}
.navbar{
    background:#F97300;
    }
.nav-link , .navbar-brand{
    color: #f4f4f4;
    cursor: pointer;
    }

.nav-link{
    margin-right: 1em !important;
    }
.nav-link:hover{
    background: #f4f4f4;
    color: #f97300;
    border-radius: 5%;
    }
.navbar-collapse{
    justify-content: flex-end;
    }
.navbar-toggler{
    background:#fff !important;
}
.bg-dark{
    background-color:#343a40!important
    }

.card{
    margin-top: 2em;
    width: 17rem;

}

.btn-primary{
  background-color: #F97300 !important;
}
.card-text{
    font-size: 14px;
}

/*наплывание*/
.hover {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;

  }

  .hover .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }

  .hover img {
    display: block;
    position: relative;
  }

  .hover h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
  }

  .hover button.play {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    color: rgb(255, 255, 255);
    border: 1px solid;
    bottom: 0;
    border-radius: 3px;
    background-color: #F97300;
    position: absolute;
    bottom: 5%;
  }

  .hover button.play:hover {
    box-shadow: 0 0 5px #fff;
  }

  .hover button.nullbutton {
    border: none;
    padding: 0px;
    margin: 0px;
  }

  .hover button.nullbutton:hover {
    box-shadow: none;
  }

  .modal-open .modal, button:focus {
      outline:none!important
  }

  .point {
  cursor: pointer;
  }


  .ehover10 img {
      -webkit-transition: -webkit-transform 0.35s;
      transition: transform 0.35s;
  }
  .ehover10:hover img {
  -webkit-transform: translate3d(0,-10%,0);
      transform: translate3d(0,-10%,0);
  }

  .ehover10 .overlay {
      top: auto;
      bottom: 0;
      padding: 1em;
      padding-top: 0.7em;
      height: 100%;
      background: #fbfffe;
      color: #050405;
      text-align: left;
      -webkit-transition: -webkit-transform 0.35s;
      transition: transform 0.35s;
      -webkit-transform: translate3d(0,75%,0);
      transform: translate3d(0,75%,0);
  }

  .ehover10 button.info
   {
      margin: 0px;
      text-transform: uppercase;
      color: #fff;
      font-size: 17px;
      background: rgba(221, 16, 16, 0.6);

  }

  .ehover10 p.icon-links a {
      float: right;
      color: #ec1010;
      font-size: 1.4em;
  }

  .ehover10:hover p.icon-links a:hover,
  .ehover10:hover p.icon-links a:focus {
      color: #252d31;
  }

  .ehover10 button,
  .ehover10 p.icon-links a {
      -webkit-transition: -webkit-transform 0.35s;
      transition: transform 0.35s;
      -webkit-transform: translate3d(0,200%,0);
      transform: translate3d(0,200%,0);
  }

  .ehover10 p.icon-links a span::before {
      display: inline-block;
      padding: 8px 10px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }



  .ehover10:hover .overlay,
  .ehover10:hover button,
  .ehover10:hover p.icon-links a {
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
  }

  .ehover10:hover h2 {
      -webkit-transition-delay: 0.05s;
      transition-delay: 0.05s;
  }

  .ehover10:hover p.icon-links a:nth-child(3) {
      -webkit-transition-delay: 0.1s;
      transition-delay: 0.1s;
  }

  .ehover10:hover p.icon-links a:nth-child(2) {
      -webkit-transition-delay: 0.15s;
      transition-delay: 0.15s;
  }

  .ehover10:hover p.icon-links a:first-child {
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s;
  }



    /* регистрация */


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  padding-top: 25px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}




 /* авторизация */

 input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  cursor: pointer;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 0px 0 0 0;
  position: relative;
}

img.avatar {
  width: 50%;
}

.containerAuth {
  padding: 15px;
}

span.psw, button.psw {
  float: right;
}


.modalAuth {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-auth {
  background-color: #fefefe;
  margin: auto auto auto auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.form-signin h1
{
  margin-top: 50px;
}

.form-signin input[type="button"]
{
  margin-top: 25px;
}

.dialog-text
{
  font-style: Arial;
  font-size: 13px;
  line-height: 16px;
}

#reload-game
{
  position: absolute;
  margin-top: 10px;
  left: 15px;
  height: 70px;
  width: 69px;
  filter: grayscale(90%);
  opacity: 0.3;
}

#reload-game:hover
{
  filter: grayscale(0%);
  opacity: 1.0;
}


#game-over-form
{
  display: block;
  margin: auto;
  margin-top: 120px;
  padding-top: 15px;
  text-align: center;
  height: 230px;
  width: 350px;
  background-color: #FEFEFE;
  border: 4px solid #000000;
  border-radius: 40px;
}

.game-over-label
{
  font-size: 28px;
  font-weight: bold;
}

.form-label
{
  margin-top: 10px;
  font-size: 23px;
}

.restart
{
  margin-top: 20px;
  font-size: 20px;
  background-color: #F97300;
  border-radius: 6px;
}
