.game-block
{
  display: flex;
  flex-direction: row;
}

.info
{
  margin-top: 220px;
  margin-left: 190px;
  width: 230px;
}

.square
{
  margin-left: 100px;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  margin-top: 45px;
}

.square-row
{
  display: flex;
  flex-basis: 50%;
}

.square-cell
{
  flex-basis: 50%;
}

.square-cell:not(:first-child)
{
  border-left: 2px solid lightgray;
}

.square-row:not(:last-child)
{
  border-bottom: 2px solid lightgray;
}

.info button
{
  margin-top: -20px;
  font-size: 15px;
}

#bot
{
  margin-left: 20px;
  margin-top: 10px;
}

.Time
{
  display: none;
  margin-left: -30px;
  margin-top: -10px;
  font-size: 20px;
}

#timer
{
  margin-left: 0px;
}

#lvl
{
  font-size: 30px;
}
